html {
  font-family: Georgia, serif;
  color: #efefef;
  background-color: #495562;
}

.btn {
  color: #fff;
  border-color: #97a49b;
}

.banner-img {
  max-height: 500px;
  overflow: hidden;
}

img {
  width: 100%;
}

@media only screen and (min-width: 38em) {

  .btn {
    float: right;
  }
}

@media only screen and (min-width: 60em) {

  html {
    color: #fff;
    background-color: transparent;
  }

  .btn {
    border-color: #fff;
  }

  .banner {
    position: relative;
    background-image: linear-gradient(to bottom, rgba(73, 85, 98, 0), rgba(73, 85, 98, .9));
  }

  .banner-text {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}
